<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <jmxConfigurator />

    <property scope="context" name="logDir" value="${server.output.dir}/logs" />
    <property name="app" value="liberex" />
    <!--  The following could be set in the JVM options  -->
    <property name="app.env" value="LOCAL" />

    <contextName>${app}</contextName>

    <include resource="logback/logback-${app.env}.xml" />

</configuration>
