<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property scope="context" name="logDir" value="." />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%-5level %logger{12} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.example" level="DEBUG" />
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
